<h2 mat-dialog-title>{{ data ? 'Editar Usuario' : 'Crear Usuario' }}</h2>
<mat-dialog-content>
  <form [formGroup]="formGroup">
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username">
      <mat-error *ngIf="formGroup.get('username')?.hasError('required')">El username es requerido.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="formGroup.get('name')?.hasError('required')">El nombre es requerido.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Apellido</mat-label>
      <input matInput formControlName="lastName">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
      <mat-error *ngIf="formGroup.get('email')?.hasError('required') || formGroup.get('email')?.hasError('email')">Debe ser un email válido.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Teléfono</mat-label>
      <input matInput formControlName="phone">
      <mat-error *ngIf="formGroup.get('phone')?.hasError('required') || formGroup.get('phone')?.hasError('pattern')">Debe ser un número de teléfono válido.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName="password">
      <mat-error *ngIf="formGroup.get('password')?.hasError('required') || formGroup.get('password')?.hasError('minlength')">La contraseña es requerida y debe tener al menos 6 caracteres.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Estado</mat-label>
      <mat-select formControlName="status">
        <mat-option [value]="true">Activo</mat-option>
        <mat-option [value]="false">Inactivo</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Rol</mat-label>
      <input matInput formControlName="role">
      <mat-error *ngIf="formGroup.get('role')?.hasError('required')">El rol es requerido.</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="close()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="save()" [disabled]="!formGroup.valid">Guardar</button>
</mat-dialog-actions>
